<div class="container" [formGroup]="filterForm">
    <div class="row">
        <div class="col-12">
            <div class="ages my-4">
                <h2>Ages</h2>
                <div class="d-flex gap-2">
                    <button 
                    class="btn" 
                    *ngFor="let age of ages" 
                    (click)="filterByAge(age)"
                    [ngClass]="
                    {
                        'btn-secondary btn-active': age === filterForm.value.age, 
                        'btn-light': age !== filterForm.value.age
                    }">{{age}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" formGroupName="cost">
        <div class="col-12">
            <div class="costs my-4">
                <h2>Costs</h2>
                <div class="row gap-4 my-2 w-100 align-items-center my-4" *ngFor="let cost of costTypes; let i = index">
                    <div class="d-flex gap-2 col-lg-1">
                        <div><input type="checkbox" (change)="changeCostCheckbox($event, cost.name, i)"/></div>
                        <div>{{cost.name}}</div>
                    </div>
                    <ngx-slider #refSlider class="slider col-lg-7" [value]="+getCostMin(cost.name)" [highValue]="+getCostMax(cost.name)" [options]="getOptions(cost.name)"
                    (userChangeEnd)="onUserChangeEnd($event, cost.name)"></ngx-slider>
                    <div class="col-lg-3">
                        <div class="labels">
                            {{getCostMin(cost.name)}} - {{getCostMax(cost.name)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="units-table my-4">
                <app-units-table [data]="unitsTableData"></app-units-table>
            </div>  
        </div>
    </div>
</div>