.cost-label {
    width: 50px;
}
.btn-secondary.btn-active {
    background: #2f4852;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
 /* Slider track */
 input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #01010e; /* Track color */
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
  }

  input[type=range]:hover {
    opacity: 1;
  }

  /* Slider thumb */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #270575; /* Thumb color */
    cursor: pointer;
    border-radius: 50%;
  }

  input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #270575;  /* Thumb color */
    cursor: pointer;
    border-radius: 50%;
  }

  input[type=range]::-ms-thumb {
    width: 25px;
    height: 25px;
    background: #270575;  /* Thumb color */
    cursor: pointer;
    border-radius: 50%;
  }