nav {
   .nav-item {
    .nav-link {
        font-weight: 800;
        font-size:24px;
        color:#ffffff;
    }
    & .nav-link:hover {
        color:#d64529;
    }
    & .active {
        font-weight: bold;
        color:#d64529;
    }
   }
   .navbar-collapse.show {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(0 0 0 / 89%);
    z-index: 4;
   }
   button:focus:not(:focus-visible) {
    box-shadow: none;
   }
}