nav {
   .nav-item {
    .nav-link {
        font-weight: 800;
        font-size:24px;
        color:#ffffff;
    }
    & .nav-link:hover {
        color:#d64529;
    }
    & .active {
        font-weight: bold;
        color:#d64529;
    }
   }
}