.cursor-pointer {
    cursor: pointer;
}
.table-container {
    max-height: 400px;
    overflow-y:scroll;
    position: relative;
    table {
        thead {
            position: sticky;
            top: 0;
            background: white;
            font-weight: 600;
        }
        tbody {
            tr:hover > * {
                background: #f5f5f5;
            }
        }
    }
    
}