/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
body {
    font-family: 'Cinzel', serif;
    background-color: #0a222d;
    color: #ffffff;
    font-weight: 400;
    font-size:18px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(214 65 43)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.ngx-slider {
    margin:0 15px!important;
    .ngx-slider-bubble{
        display: none!important;
    }
    &:not([disabled]) {
        .ngx-slider-pointer,
        .ngx-slider-selection {
            background-color: #d6412b!important;
        }
    }
    .ngx-slider-pointer.ngx-slider-active:after {
        background-color: #0a222d!important;
    }
}